.preloader-wrapper {
  position: fixed;
  top: 50%;
  right: 50%; }

body {
  background-color: white; }

.nav-wrapper {
  padding-left: 20px; }
  .nav-wrapper #logoutBut:hover {
    background-color: transparent; }
  .nav-wrapper #navSearch {
    float: right;
    width: 200px; }
  .nav-wrapper #navSearch:focus {
    width: 600px; }
  .nav-wrapper #searchHover {
    height: 65px; }

#logout {
  font-size: 1.2rem;
  color: #26a69a;
  height: 40px;
  width: 100%; }

#logout:hover {
  background-color: #EEE; }

#dropdown2 {
  width: 658px; }

#profileBut {
  width: 37px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px; }
  #profileBut i {
    line-height: 36px; }

.brand-logo span {
  font-size: 1.4rem; }

.navButton {
  position: fixed;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8); }
  .navButton i {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 40px;
    color: white;
    z-index: 50; }

#leftPan {
  left: 30px;
  top: 300px; }

#rightPan {
  right: 30px;
  top: 300px; }

.vidSection {
  display: block;
  max-width: 900px;
  padding: 10px;
  margin: 5px auto; }

.section {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1200px;
  background-color: black;
  transition: all 1s ease-in-out;
  transform: translateX(0px); }
  .section.offScreen {
    transform: translate(-2000px); }

#fileSection {
  z-index: 11; }

#renderSection {
  z-index: 10; }

.video {
  position: relative;
  margin-bottom: 10px; }

video {
  width: 100%;
  display: none; }

#awesome {
  display: block; }

.image {
  display: block;
  margin: auto; }

.textField {
  display: block;
  margin: auto;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: white; }

#selector {
  display: block;
  margin: auto;
  width: 600px;
  padding-left: 100px; }

.social {
  position: relative;
  left: 100px;
  vertical-align: middle;
  background: no-repeat url("//s.ytimg.com/yts/imgbin/www-sharing-vflHLVWBN.webp") 0 -861px;
  background-size: auto;
  width: 32px;
  height: 32px;
  margin: -1px; }

#facebook {
  background-position: 0 -861px; }

#twitter {
  background-position: 0 -348px; }

#google {
  background-position: 0 -276px; }

#submit {
  position: relative;
  left: 100px;
  vertical-align: middle;
  margin: -1px; }

#vidCanvas {
  background-color: ghostwhite;
  box-shadow: 0px 5px 10px gray;
  padding-bottom: 20px;
  width: 100%; }

.controller {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 13px;
  background-color: black;
  overflow: hidden; }

progress {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

#vidProgress {
  color: red; }

#vidProgress::-moz-progress-bar {
  background: red; }

#vidProgress::-webkit-progress-value {
  background: red; }

#vidProgress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  width: 100%;
  color: red; }

.Controls {
  width: 100%;
  height: 25px;
  margin-bottom: 0px; }

.leftControls {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 25px;
  min-width: 100px;
  width: 100px;
  transition: ease-in-out 0.3s; }

.leftControls:hover {
  width: 160px; }

#play {
  margin-right: 10px;
  color: white;
  height: 25px;
  font-size: 2em;
  position: relative;
  bottom: 11px; }

#play:hover {
  background-color: black;
  cursor: pointer; }

#record {
  height: 25px;
  margin-right: 10px;
  color: white;
  font-size: 1.5em;
  position: relative;
  bottom: 14px; }

#record:hover {
  background-color: black;
  cursor: pointer; }

#sound {
  color: white;
  font-size: 1.8em;
  height: 25px;
  position: relative;
  bottom: 11px; }

#volumeControl {
  position: absolute;
  left: 100px;
  bottom: -3px;
  width: 60px; }

.time {
  display: inline;
  position: relative;
  margin-left: 10px;
  bottom: 8px;
  height: 25px;
  color: white; }
  .time label {
    font-size: 1em; }

.timeline {
  position: relative;
  border: single; }

#timeline {
  position: relative;
  display: block;
  border: solid;
  border-width: 1px;
  pointer-events: none;
  appearance: none;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  z-index: 6; }

#timeline::-webkit-progress-value {
  background-color: rgba(51, 153, 204, 0.5); }

#timeline::-webkit-progress-bar {
  background-color: rgba(250, 244, 250, 0); }

#vidProgress::-moz-progress-bar {
  background-color: rgba(0, 244, 0, 0); }

.part {
  width: 1px;
  height: 96px;
  border-right: solid;
  border-left: solid;
  border-color: black;
  border-width: 1px; }

.videoPart {
  position: absolute;
  bottom: -3px;
  left: 2px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul li {
    float: left; }
    ul li.ui-sortable-helper {
      transform: rotate(7deg); }

.filterList {
  width: 100%;
  height: 100px;
  padding-left: 20px;
  border: solid; }
  .filterList .filter {
    font-size: 15px;
    display: block;
    float: left;
    margin: 25px 12px 0px;
    width: 45px;
    height: 45px;
    background-color: white;
    transform: scale(1, 1);
    transition: width 0.5s, height 0.5s, transform 0.5s ease-in-out; }
    .filterList .filter p {
      color: white;
      text-align: center;
      position: relative;
      bottom: 35px;
      right: 4px; }
  .filterList .filter:hover {
    transform: scale(2, 2); }
  .filterList .direction {
    height: 100%;
    width: 20px;
    text-align: middle;
    background-color: rgba(200, 200, 200, 0.3); }

#titleField {
  color: ghostWhite; }

#buttonOptions {
  bottom: 23px;
  right: 12px; }

.fixed-action-btn ul {
  padding-left: 6px; }

#grayscale {
  background-image: url("http://192.168.2.19:3000/design/filters/Grayscale.png");
  background-size: cover; }

#brighten {
  background-image: url("http://192.168.2.19:3000/design/filters/Brighten.png");
  background-size: cover; }

#threshold {
  background-image: url("http://192.168.2.19:3000/design/filters/Threshold.png");
  background-size: cover; }

#sharpen {
  background-image: url("http://192.168.2.19:3000/design/filters/Sharpen.png");
  background-size: cover; }

#blur {
  background-image: url("http://192.168.2.19:3000/design/filters/Blur.png");
  background-size: cover; }

#depth {
  background-image: url("http://192.168.2.19:3000/design/filters/None.png");
  background-size: cover; }

#darken {
  background-image: url("http://192.168.2.19:3000/design/filters/Darken.png");
  background-size: cover; }

#contrast {
  background-image: url("http://192.168.2.19:3000/design/filters/None.png");
  background-size: cover; }

#tint {
  background-image: url("http://192.168.2.19:3000/design/filters/Tint.png");
  background-size: cover; }

#color {
  background-image: url("http://192.168.2.19:3000/design/filters/Color.png");
  background-size: cover; }

#undefined {
  background-image: url("http://192.168.2.19:3000/design/filters/None.png");
  background-size: cover; }

/*# sourceMappingURL=postPage.css.map */
