body {
  background-color: #F6F5F6;
  padding: 0px; }

.content {
  position: relative; }

.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  width: 100%;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  border-width: 1px;
  background-color: white;
  border: solid;
  border-width: 1px; }
  .navbar p {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: bold; }
  .navbar form {
    float: right;
    margin-right: 30px; }
  .navbar #navSearch {
    display: none;
    border-radius: 20px;
    height: 18px;
    padding-left: 10px; }
  .navbar .button {
    background-color: #c8c8ff;
    border-radius: 10px;
    margin-top: -3px;
    padding: 5px;
    font-size: 12px;
    color: black;
    cursor: pointer; }
  .navbar .button:hover {
    background-color: #646464; }

.profileInfo {
  position: fixed;
  width: 270px;
  top: 50px;
  left: 10%;
  height: 100%;
  padding: 10px;
  margin-left: -50px;
  text-align: center; }
  .profileInfo.smallScreen {
    position: static;
    width: 535px;
    height: auto;
    margin: 50px auto 0px; }
  .profileInfo .profileName {
    display: inline;
    font-style: bolder;
    font-size: 20px; }
  .profileInfo form {
    margin: 0px auto;
    display: block;
    width: 240px; }
  .profileInfo input {
    display: block;
    color: #4ab825;
    border-radius: 1px;
    width: 240px;
    font-style: bolder;
    background-color: white;
    font-size: 1em;
    padding: 7px 15px;
    cursor: pointer; }
  .profileInfo input:hover {
    border-color: #7cea57; }

.profilePic {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px auto 10px; }

.stats {
  display: block;
  width: 100%;
  max-width: 340px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: -20px; }
  .stats table {
    width: 100%; }
  .stats td {
    width: 20%;
    font-size: 20px;
    border-right: solid;
    border-color: green;
    border-width: 1px; }
  .stats #lastCell {
    border-right: none; }

.panel {
  width: 555px;
  background-color: white;
  border-radius: 1px; }

.pictures {
  display: block;
  margin-top: 80px;
  width: 555px;
  margin-left: 25%;
  padding-left: 150px; }
  .pictures.smallScreen {
    margin: 10px auto;
    padding-left: 0px; }

.poster {
  width: 535px;
  padding-left: 20px;
  padding-top: 10px; }
  .poster p {
    display: inline;
    margin-bottom: 30px;
    vertical-align: top; }

.posterImg {
  display: inline;
  border-radius: 50%;
  width: 50px;
  height: 50px; }

.vidImg {
  display: block;
  padding: 10px;
  width: 535px;
  height: 535px; }

.vidInfo {
  width: 535px;
  padding-left: 20px;
  margin-bottom: 60px;
  padding-bottom: 20px; }
  .vidInfo form {
    display: block;
    margin: 50px auto 0px;
    width: 90%; }
  .vidInfo input {
    background-color: #F6F5F6;
    width: 90%;
    padding: 10px;
    font-size: 20px;
    rows: 1; }
  .vidInfo p {
    margin: 20px;
    color: #A9B0C3; }
  .vidInfo hr {
    width: 475px; }
  .vidInfo #commentText {
    color: black;
    font-size: 30px; }

/*# sourceMappingURL=profilePage.css.map */
